<header 
  class="fixed left-0 right-0 z-9999 top-3 text-sm flex items-center justify-center border border-[#4D4949]/40 bg-[#101010] text-gray-300  shadow-xl/3 shadow-white backdrop-blur-3xl w-fit mx-auto px-5 py-2 rounded-sm font-medium"
  id="header"
  role="banner"
  >
  <div class=" text-xs">

    <nav>
      <ul class="flex items-center gap-x-4">
        <li>
          <a href="/about" class="hover:text-blue-500 transition-all duration-300 ">Experiencia</a>
        </li>
        <li>
          <a href="/contact" class="hover:text-blue-500 transition-all duration-300">Proyectos</a>
        </li>
        <li>
          <a href="/contact" class="hover:text-blue-500 transition-all duration-300">Sobre mi</a>
        </li>
        <li>
          <a href="/contact" class="hover:text-blue-500 transition-all duration-300">Contactame</a>
        </li>
      </ul>
    </nav>

  </div>
</header>
