<header 
  class="fixed left-0 right-0 z-9999 top-3 flex items-center justify-center border border-white/10 bg-black/80 text-gray-500 backdrop-blur-xl w-fit mx-auto px-6 py-2.5 font-secondary"
  id="header"
  role="banner"
  >
  <nav>
    <ul class="flex items-center gap-x-6 text-xs tracking-wide">
      <li>
        <a href="#experiencia" class="hover:text-white transition-colors duration-200">Experiencia</a>
      </li>
      <li>
        <a href="#proyectos" class="hover:text-white transition-colors duration-200">Proyectos</a>
      </li>
      <li>
        <a href="#sobre-mi" class="hover:text-white transition-colors duration-200">Sobre mi</a>
      </li>
      <li>
        <a href="#contacto" class="hover:text-white transition-colors duration-200">Contactame</a>
      </li>
    </ul>
  </nav>
</header>
