<header 
  class="fixed left-0 right-0 z-9999 top-0 text-xs flex items-center justify-center border border-[#4D4949]/40 bg-[#101010] shadow-xl shadow-white/2 backdrop-blur-3xl w-full mx-auto px-1 py-4 rounded-sm font-medium md:w-fit md:text-sm md:top-3 md:py-2.5 md:px-2"
  id="header"
  role="banner"
  >
  <div class=" text-xs text-gray-400">

    <nav>
      <ul class="flex items-center gap-x-2">
        
        <li>
          <a href="#experience" class=" px-2 py-1 rounded-sm hover:text-white hover:bg-white/10  transition-all duration-200">Experiencia</a>
        </li>
        <li>
          <a href="#projects" class=" px-2 py-1 rounded-sm hover:text-white hover:bg-white/10  transition-all duration-200">Proyectos</a>
        </li>
        <li>
          <a href="#about" class=" px-2 py-1 rounded-sm hover:text-white hover:bg-white/10  transition-all duration-200">Sobre mi</a>
        </li>
        <li>
          <a href="mailto:visserlautaro@gmail.com" target="_blank" rel="noopener noreferrer" class=" px-2 py-1 rounded-sm hover:text-white hover:bg-white/10  transition-all duration-200">Contactame</a>
        </li>
      </ul>
    </nav>

  </div>
  <script src="../scripts/animations/header.js"></script>
</header>
