---
import LinkedInIcon from "../components/Icons/LinkedInIcon.astro";
import DownloadIcon from "../components/Icons/DownloadIcon.astro";
---

<section class="relative overflow-hidden min-h-dvh border-b border-white/10">

    <div class="relative max-w-8xl items-center flex flex-col mx-auto px-6 pt-28 md:pt-36 pb-16">

        <a href="/contact" class="group flex items-center gap-x-2 text-xs mb-8 px-3 py-1.5 border border-white/15 hover:border-white/40 transition-all duration-300 rounded-sm ">
            <span class="relative flex size-2">
                <span class="absolute inline-flex size-full animate-ping rounded-full bg-emerald-400 opacity-75"></span>
                <span class="relative inline-flex size-2 rounded-full bg-emerald-500"></span>
            </span>
            Disponible para trabajar
        </a>

        <p class="text-sm md:text-lg font-secondary text-gray-400 tracking-wide">
            Hey, soy Lautaro Sanchez Visser
        </p>

        <h1 class="relative mt-6 text-5xl font-bold md:text-9xl font-primary uppercase tracking-tighter text-center">
            Desarrollador
            <br>
            <span class="text-transparent [-webkit-text-stroke:0.5px_gray]">Front-End</span>
        </h1>

        <div class="flex flex-col mt-10 justify-center items-center gap-4 md:flex-row md:mt-40 ">
            <a href="/curriculum.pdf" 
            class="px-6 py-2.5 flex items-center gap-x-2 z-10 bg-white text-black border-black/10 border  text-sm font-secondary hover:bg-gray-100 hover:border-black/20 transition-all duration-200">
                <DownloadIcon class="size-4" />
                Descargar Curriculum
            </a>

            <a href="https://linkedin.com/in/lautaro-sanchez-visser" class="flex items-center gap-x-2 px-6 py-2.5 border border-white/10 bg-[#101010] text-sm font-secondary hover:border-white/20 hover:bg-black transition-all duration-200 z-10">
                <LinkedInIcon class="size-4" />
                LinkedIn
            </a>
        </div>
        
        <figure class="absolute inset-x-0 left-6 top-120 md:top-55 flex items-center justify-center">
            <img src="/src/assets/fotomia.webp" alt="Hero" class="w-auto h-[350px] md:h-[1000px] object-cover grayscale hover:grayscale-0 transition-all duration-700 mask-b-from-40% mask-b-to-90% md:mask-b-to-65% " >
        </figure>
    </div>

</section>