---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";

const projects = (await getCollection('projects')).sort((a, b) => a.data.subtitle.localeCompare(b.data.subtitle))

---

<section data-project-section class="relative z-20 py-15 bg-black" id="projects" >
    <h2 data-project-title class="max-w-7xl mx-auto px-6 text-4xl text-center uppercase tracking-tighter font-bold md:text-8xl md:text-left ">
        Proyectos
        <br>
        <span class="text-transparent [-webkit-text-stroke:0.5px_gray]">Archivos</span>
    </h2>

    <div class="border-t border-white/10 px-6">
        <ul class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 md:grid-rows-2 md:grid-flow-dense">
            {projects.map((project) => (
                <ProjectCard project={project} />
            ))}
        </ul>
    </div>
    <script src="../scripts/animations/project.js"></script>
</section>