---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "../sections/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>LSV PortFolio | Web Developer</title>
    <ClientRouter />
  </head>

  <body class="font-primary bg-black text-white">
    <Header />
      <slot />
  </body>

  <script>
    import { initLenis } from '../scripts/lenis.js'
    initLenis()
  </script>

</html>
